@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
}

.mapboxgl-popup-content {
  border-radius: 8px;
}
.mapboxgl-popup-close-button {
  font-size: 20px;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
